.mainContainer {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.mainHeader {
  padding-bottom: 30px;
}

.columnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
