ul {
  list-style-type: none;
}

li {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  background-color: cadetblue;
  text-align: center;
}

.drop-container {
  width: 50%;
  background-color: aquamarine;
  margin: 0 auto;
  height: 50vh;
  text-align: center;
  padding: 10px;
}
